@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to My Coffee Shop!</h1>
    <h2>Register(Make this into a link to proper view)</h2>
</div>

<div class="row">
    <div class="col-md-4">
       
    </div>
</div>